{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_index' %}

{% block main %}
    <h1>{{ 'title.user_list'|trans }}</h1>

    {% for user in paginator.results %}
        <article class="user">
            <h2>
                <a href="#">
                    {{ user.user_entity }}
                </a>
            </h2>

            <p class="user-metadata">
                <span class="metadata"><i class="fa fa-list-alt"></i> {{ 'user.nb_user_posts'|trans({ 'nb_user_posts': user.nb_user_posts }) }}</span><br/>
                <span class="metadata"><i class="fa fa-comment"></i> {{ 'user.nb_user_comments'|trans({ 'nb_user_comments': user.nb_user_comments }) }}</span><br/>
                <span class="metadata"><i class="fa fa-edit"></i> {{ 'user.nb_posts_updated'|trans({ 'nb_posts_updated': user.user_entity.nbPostsUpdated }) }}</span>
            </p>
        </article>
    {% else %}
        <div class="well">{{ 'user.no_users_found'|trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="prev"><a href="{{ path('admin_user_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}</a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span></li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="active"><span>{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                    {% else %}
                        <li><a href="{{ path('admin_user_index_paginated', {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="next"><a href="{{ path('admin_user_index_paginated', {page: paginator.nextPage}) }}" rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
